PichuBOT/.pio
PichuBOT/.vscode/.browse.c_cpp.db*
PichuBOT/.vscode/c_cpp_properties.json
PichuBOT/.vscode/launch.json
PichuBOT/.vscode/ipch

PichuBOTController/.pio
PichuBOTController/.vscode/.browse.c_cpp.db*
PichuBOTController/.vscode/c_cpp_properties.json
PichuBOTController/.vscode/launch.json
PichuBOTController/.vscode/ipch

PichuBOTTests/.pio
PichuBOTTests/.vscode/.browse.c_cpp.db*
PichuBOTTests/.vscode/c_cpp_properties.json
PichuBOTTests/.vscode/launch.json
PichuBOTTests/.vscode/ipch

SerialRobotController/.vs*
SerialRobotController/SerialRobotController/obj*
SerialRobotController/SerialRobotController/bin*